

.lc {

  display: flex;
  flex-direction: row;
  height: 80vh;
  
  .left {

    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .title {

    font-size: 45px;
    text-align: center;
    margin-bottom: 10px;
    color: white;
    font-weight: bold;

  }

  .button {
    color: white;
    border: none;
    font-size: 32px;
  }

  .buttonParent .blob {

    cursor: pointer;

    transition: transform 0.2s;

  }

  .buttonParent .blob:hover {

    transform: scale(1.1);

  }

  .subtitle {

    font-size: 30px;
    text-align: center;

  }

  .right {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;

  }

  .logo {
    width: 400px;
    border-radius: 50%;


    transition: transform 0.3s;
  }
  
}

.am {

  .title {

    color: white;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    position: relative;
    margin-bottom: 90px;

  }

  .title::after {

    content: "";
    display: block;
    height: 5px;
    width: 160px;
    background-color: #111;
    opacity: 0.4;
    position: absolute;
    left: calc(50% - 80px);
    bottom: -20px;

  }

  .clubDescription {

    font-size: 20px;
    color: white;
    text-align: justify;
    line-height: 1.5;
    margin-bottom: 50px;

  }

}

@media (max-width: 1000px) {

  .lc {
    .right {
      display: none;
    }

    .left {
      width: 100%;
    }
  }

}

.js {

  margin-top: 100px;
  margin-bottom: 100px;

  .option {

    padding-bottom: 50px;
    padding-top: 50px;

    .header {
      
      color: white;
      font-weight: bold;
      font-size: 40px;
      margin-bottom: 10px;

    }

    .subheader {

      color: white;
      font-size: 35px;
      margin-bottom: 20px;

    }

    .text {

      margin-bottom: 20px;
      font-size: 20px;
      color: white;
      text-align: justify;

    }

    .link {

      color: white;
      font-size: 30px;
      background-color: #00784A;
      display: inline-block;
      padding: 20px;
      cursor: pointer;
      float: right;
      
    }

  }

}

@media (max-width: 1200px) {
  .js .option .link {
    float: none;
    margin-bottom: 40px;
  }
}

.cs {

  margin-top: 100px;
  margin-bottom: 100px;

  .title {

    font-size: 40px;
    color: white;
    margin-bottom: 30px;

  }

  .text {

    font-size: 20px;
    color: white;

  }

}
